/* 영화 아이템에 대한 CSS */
.movie_item {
    line-height: 1.4;
    padding: 10px;
}

.movie_poster {
    width: 15vw;
    padding-bottom: 10px;
}

.movie_title {
    font-size: 21px;
    font-weight: bold;
    color: steelblue;
    padding-bottom:10px;
}

/* 영화 리스트에 대한 CSS */
.movie_list {
    display: flex;
    flex-wrap: wrap;
}

.movie_list_screen {
    padding: 30px;
}
.movie_list_screen > h3 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    transition: 0.6s;
}
.movie_list_screen > h3:hover {
    font-size: 40px;
    font-weight: bold;
    color: rgb(245, 102, 35);
}